.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: blue;
  transition: background-color 0.3s, transform 0.5s;
  /* Enable pointer events for front-facing side */
  pointer-events: auto;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columns for keyboard */
  gap: 5px; /* Gap between keys */
  justify-content: center; /* Center horizontally */
}

.keyboard button {
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.keyboard button:hover {
  background-color: #e0e0e0;
}

/* Special styling for Enter and Backspace keys */
.keyboard button.enter {
  grid-column: span 2; /* Span 2 columns for Enter key */
}

.keyboard button.backspace {
  grid-column: span 2; /* Span 2 columns for Backspace key */
}
.correct-word {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
